*{
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-image: url(https://images.unsplash.com/photo-1597739239353-50270a473397?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTF8fGJ1aWxkaW5nJTIwc2tpbGxzJTIwcGljJTIwc2lkZXdheXN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 3rem;
    background-color: dodgerblue;
    color: white;
    box-shadow: 1px 1px 3px 1px gray;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin-right: 1.5rem;
}
li > a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

main {
    padding: 3rem;
}

footer {
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: center;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center; 
    align-items: center;
}