
{% extends 'base.html' %}

{% block content %}
<main>
    <h1>Daily Practices</h1>
    <section>
        {% for practice in practices%}
        <article>
            <h1>
                <a href="{% url 'update' practice.id %}">✒️</a>
                {{practice.description}} - 
                {% if practice.completed %}
                <span>Complete</span>
                {% else %}
                <span>Not Complete</span>
                {% endif %}
                <a href="{% url 'delete' practice.id %}">😵</a>
            </h1>
        </article>
        {% endfor%}
    </section>
</main>
{% endblock %}