
{% extends 'base.html' %}

{% block content %}
<main>
    <section>
        {% if practices %}
        <h1>Daily Practices</h1>
        {% for practice in practices%}
        <article>
            <h1>
                <a href="{% url 'update' practice.id %}">✒️</a>
                {{practice.description}} - 
                {% if practice.completed %}
                <span>Complete</span>
                {% else %}
                <span>Not Complete</span>
                {% endif %}
                <a href="{% url 'delete' practice.id %}">😵</a>
            </h1>
        </article>
        {% endfor %}
        {% else %}
        <h1>Sorry, You Need to Get a Skill To Practice</h1>
        {% endif %}
        
    </section>
</main>
{% endblock %}